#cluster-map {
  height: 100vh; 
  width: 100%; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.search-bar {
  top: 0;
  left: 0;
  width: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-results {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 10px 0 0 0;
  max-height: 90vh; 
  overflow-y: auto; 
}

.search-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-card-content {
  padding: 10px;
}

.search-card h3 {
  margin: 0;
}

.search-card p {
  margin: 5px 0;
  font-size: 14px;
}



