#cluster-map {
  height: 90vh; 
  width: 100%; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-preload {
  position: fixed;
  bottom: 350px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  width: 30vw; 
  height: 40vw; 
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px; 
  padding-top: 12px;
  max-height: 60vw;
}


/* Hide on small screens (phones) */
@media (max-width: 576px) {
  .map-preload {
    display: none;
  }
}

/* Hide on medium screens (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
  .map-preload {
    display: none;
  }
}

/* Hide on large screens (small laptops/desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .map-preload {
    display: none;
  }
}

/* Hide on extra-large screens (large desktops) */
@media (min-width: 1201px) {
  .map-preload {
    display: none;
  }
}


.map-preload::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.map-preload-item{
  padding:.5vw;
}

.map-recent-records-header{
  font-size: 24px;
  text-align: center;
}


.map-reset-btn {
  position: fixed;
  top: 300px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  width: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  border-inline: 5px solid rgba(0, 0, 0, 0.2); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.map-toggle-btn {
  position: fixed;
  top: 360px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  width: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  border-inline: 5px solid rgba(0, 0, 0, 0.2); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.map-info-btn {
  position: fixed;
  top: 420px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  width: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  border-inline: 5px solid rgba(0, 0, 0, 0.2); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.map-search-reset{
  color: grey;
  text-align: center;
  font-size: 14px;
}

.map-search-bar {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-in-out;
}

.map-search-bar:hover {
  transform: scale(1.01);
}


.map-search-results {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 10px 0 0 0;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

.map-search-bar::-webkit-scrollbar,
.map-search-results::-webkit-scrollbar {
  width: 0.5em;
}

.map-search-bar::-webkit-scrollbar-thumb,
.map-search-results::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.map-search-bar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-search-results {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-search-item:hover{
  background-color: #f0f0f0; 
}

.map-preload-item:hover{
  background-color: #f0f0f0; 
}


@media screen and (max-width: 600px){.map-recent-records-header {
  font-size: 16px;}
}


@media screen and (max-width: 600px) {
  .map-search-results,
  .map-reset-btn,
  .map-preload,
  .map-search-reset,
  .total-trees-planted-date{
    font-size: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .map-search-results,
  .map-reset-btn,
  .map-preload,
  .map-search-reset,
  .total-trees-planted-date{
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  .map-search-results,
  .map-reset-btn,
  .map-preload,
  .map-search-reset,
  .total-trees-planted-date{
    font-size: 15px;
  }
}

.total-trees-planted{
  font-size: 40px;
  text-align: center;
}

.total-trees-planted-date{
  text-align: center;
}
