#cluster-map {
  height: 95vh; 
  width: 100%; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-reset-btn {
  position: fixed;
  bottom: 40px; 
  left: 10px; 
  z-index: 1000;
  background-color: white;
  width: 12vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.map-search-bar {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30vw; 
  overflow-y: auto;
  overflow-x: hidden; 

  scroll-behavior: smooth;
}


.map-search-results {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 10px 0 0 0;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden; 

  scroll-behavior: smooth;
}

.map-search-bar::-webkit-scrollbar,
.map-search-results::-webkit-scrollbar {
  width: 0.5em;
}

.map-search-bar::-webkit-scrollbar-thumb,
.map-search-results::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.map-search-bar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-search-results {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-search-results li:hover {
  background-color: #f0f0f0; 
}



/* Adjust font size and h values for small screens */
@media screen and (max-width: 600px) {
  .map-search-results,.map-reset-btn {
    font-size: 10px;
  }
}

/* Adjust font size and h values for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .map-search-results,.map-reset-btn {
    font-size: 14px;
  }
}

/* Adjust font size and h values for large screens */
@media screen and (min-width: 1025px) {
  .map-search-results,.map-reset-btn {
    font-size: 15px;
  }
}





